[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
dnspython = "*"
flask-restful = "*"
flask-cors = "*"
flask = "*"
gunicorn = "*"
firebase-admin = "*"

[dev-packages]

[requires]
python_version = "3.9"
